<launch>
	<!-- Launch file for Unitree L1 LiDAR mounted on Go2 -->
	<arg name="rviz" default="true" />

	<node pkg="transform_sensors" exec="transform_everything" name="transform_everything" output="screen" />

	<node pkg="point_lio_unilidar" exec="pointlio_mapping" name="laserMapping" output="screen">
		<param from="$(find-pkg-share point_lio_unilidar)/config/utlidar.yaml" />
		
		<param name="use_imu_as_input" value="false"/>
		
		<param name="prop_at_freq_of_imu" value="true"/>
		<param name="check_satu" value="true"/>
		<param name="init_map_size" value="10"/>
		<param name="point_filter_num" value="1"/> <!--4, 3-->

		<param name="space_down_sample" value="true" />
		<param name="filter_size_surf" value="0.1" /> <!--0.5, 0.3, 0.2, 0.15, 0.1-->
		<param name="filter_size_map" value="0.1" /> <!--0.5, 0.3, 0.15, 0.1-->
		<param name="cube_side_length" value="1000.0" /> <!--2000-->
		<param name="runtime_pos_log_enable" value="false" /> <!--1-->

		<remap from="/cloud_registered" to="/registered_scan" />
		<remap from="/aft_mapped_to_init" to="/state_estimation" />
		
	</node>

	<group if="$(var rviz)">
		<node launch-prefix="nice" pkg="rviz2" exec="rviz2" name="rviz" args="-d $(find-pkg-share point_lio_unilidar)/rviz_cfg/loam_livox2.rviz"/>
	</group>

	

</launch>
